.about-us-section {
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.about-us-section__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-h);
}

.about-us-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.examples-list {
    margin: 0;
    padding: 0;

    display: flex;
    margin-left: -30px;

    &__item {
    // flex-basis: calc(100% / 3 -30px);
    margin-left: 30px;
    margin-top: 50px;

    position: relative;
    }

    &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4));

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    }
}