.footer-section {
    background-color: var(--background-footer);
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.footer-flex {
    padding: 0;
    margin: 0;

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    }
}

.adress-social-flex {
    @media screen and (min-width: 768px) {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
        }
}

.adress-flex {
    text-align: center;
    @media screen and (min-width: 1200px) {
    margin-right: 84px;
    text-align: left;
    }
}

.footer-adress__adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--background-main);
    margin-bottom: 9px;
}

.footer-adress__mail {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress__mail:hover,
.footer-adress__mail:focus {
    color: #2196F3;
}

.footer-adress__tel {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    }
}

.footer-adress__tel:hover,
.footer-adress__tel:focus {
    color: #2196F3;
}

.div-logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1200px) {
            justify-content: left;
        }
}

.footer-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
        }
}

.social-flex {
    text-align: center;
    
    @media screen and (min-width: 1200px) {
        margin-right: 0px;
        text-align: left;
        }
}

.social-footer-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.social-footer-list__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 60px;
}

.social-footer-list__item:last-child {
    margin-right: 0;
}

.social-footer-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #FFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:focus,
&:hover {
    background-color: #2196F3;
}
}

.button-footer {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    max-width: 200px;
    height: 50px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;

    @media screen and (min-width: 768px) {
    margin-left: 270px;
    }

    @media screen and (min-width: 1200px) {
    margin-left: 10px;
    display: inline-block;
    }
}

.button-flex {
    display: flex;
    align-items: center;
}

.button-icon {
    margin-left: 10px;
}

.form-flex {
    @media screen and (min-width: 1200px) {
    display: flex;
    }
}

.input-footer {
    outline: none;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 100%;
    min-height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        margin-left: 145px;
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-left: 0px;
    }
}