.team-section {
    background-color: var(--background-secondmain);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 0px;
    }
}

.team-section__heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    color: var(--color-h);

     @media screen and (min-width: 768px) {
    font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
    font-size: 36px;
    }
}

.team-container { 
    margin-left: auto;
    margin-right: auto;

    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
            width: 480px;
    }

    @media screen and (min-width: 768px) {
            width: 768px;
        }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.person-list {
    margin: 0;
    padding: 0;

@media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }

@media screen and (min-width: 1200px) {
        display: flex;
        margin-left: -30px;
    }
}

.person-list__item {
   margin-top: 30px;

   
@media screen and (min-width: 768px) {
    // flex-basis: calc(100% / 4 -30px);

    margin-left: 30px;
    margin-top: 50px;
    max-width: 354px;
    }

@media screen and (min-width: 1200px) {
    // flex-basis: calc(100% / 4 -30px);

    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 94px;
    max-width: 270px;
}
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;
}

.card__content {
    padding: 30px, 59px, 0px, 30px;
}

.card__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-h);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.card__position {
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    padding: 0;
    margin: 0;
    max-width: 450px;

    display: flex;
    justify-content: center;
}

.social-list__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-right: 10px;
}

.social-list__item:last-child {
    margin-right: 0;
}


.social-list__icon {
    width: 20px;
    height: 20px;
}


.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #2196F3;
}

