:root {
    --background-footer: #2F303A;
    --background-header: #FFFFFF;
    --background-main: #FFFFFF;
    --background-secondmain: #F5F4FA;
    --color-h: #212121;
    --color-text: #757575;
    --accent: #2196F3;
}

/* Цвета проекта
    #2F303A;
    #FFFFFF;
    #E5E5E5;
    #F5F4FA;
    #212121;
    #757575;
    #2196F3;
    rgba(255, 255, 255, 0.6);
*/
